<section class="content-header">
    <h1>房间管理</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{param.id ? "修改" : "添加"}}房间</h3>
                </div>
                <form role="form" name="form" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">房间名称</label>
                            <input type="text" class="form-control" id="name" required ng-model="param.roomName">
                        </div>
                        <div class="form-group">
                            <label for="type">所属建筑</label>
                            <select class="form-control" id="type" ng-model="param.buildNum">
                              <option value="{{one}}" ng-repeat="one in building">{{one}}号楼</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>图片URL</label>
                            <input type="text" class="form-control img-list" ng-repeat="one in imgList track by $index" style="margin-bottom:10px;" value="{{one}}">
                            <button class="btn btn-sm btn-default" ng-click="addPic()">添加图片</button>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="submit()">确认更改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
