<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>菩提谷后台管理系统</title>    
    <link href="lib.css?v1" rel="stylesheet">
    <link href="app.css?v1" rel="stylesheet">
    <link href="ionic/ionicons.min.css" rel="stylesheet" />
    <link href="fontawesome/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body ng-app="backend" class="skin-blue sidebar-mini" ng-class="{'login-page':!logined}" ng-controller="MainController">

    <ng-include src="'login/login.html'" ng-if="!logined" ng-controller="LoginCtrl"></ng-include>

    <div class="wrapper" ng-if="logined">
      <ng-include src="'page/header.html'"></ng-include>

      <ng-include src="'nav/nav.html'" ng-controller="NavCtrl" ng-if="nav"></ng-include>

      <div class="content-wrapper" ng-view>
      </div>

      <ng-include src="'page/footer.html'"></ng-include>
    </div>


    <ng-include src="'modal/modal.html'"  ng-controller="ModalController"></ng-include>

    <script src="lib.js"></script>
    <script src="http://cdn.cdnjs.net/ckeditor/4.4.5/ckeditor.js"></script>
    <script src="templates.js?v1"></script>
    <script src="app.js?v1"></script>
  </body>
</html>