.view-pics{
	.box-header .btn{
		float: left;
	}
	.box-header .fr{
		float: right;
		display: inline-block;
		line-height: 40px;
	}
	td .Wrapper {
	    margin-top: 20px;
	    text-align: center;
	    overflow: hidden;
	}
	td .Wrapper .infoWrapper{
		a{
			display: none;
		}
	  width:50%;
	  height:100px;
	  margin-left: 10px;
	  text-align: left;
	  line-height: 25px;
	}
	td .Wrapper .infoWrapper a:first-child{
	  margin-right: 10px;
	}
	td .Wrapper.default {
	  margin-top: 20px;
	  text-align: left;
	}
	td .Wrapper.default img{
	  width:100px;
	  height:100px;
	}
	td .imgWrapper {
	  position: relative;
	  width:100px;
	  height: 100px;
	}
	td .imgWrapper .linkWrapper {
	    position: absolute;
	    left: 15px;
	    top: 0;
	    width:100px;
	    height: 100px;
	    cursor: pointer;
	}
	td .imgWrapper .linkWrapper a{
	    line-height: 50px;

	}
	table td .hash {
	    margin-bottom: 20px;
	}
}